<p id="notice"><%= notice %></p>

<h1>Movimentos<h4><%= Time.now.strftime("%d/%m/%Y - %H:%M:%S") %></h4></h1>
<table>
  <thead>
    <tr>
      <th>Ação &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Produto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Qtd &nbsp;&nbsp;</th>
      <th>Validade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Ciclos &nbsp;&nbsp;</th>
      <th>V.Und &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>V.Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.action %></td>
        <td><%= movement.product.name %></td>
        <td><%= movement.amount %></td>
        <td><%= movement.shelfLife.strftime("%d/%m/%Y") %></td>
        <td><%= movement.lifeCycle %></td>
        <td><%= valor_formatado(movement.unitaryValue) %></td>
        <td><%= valor_formatado(movement.value) %></td>
        <td><%= movement.data.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
    </table>
  </tbody>
</table><br>
    <table>
      <thead>
        <tr>
          <th>Qtd Entradas de Produtos &nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Valor Total de Entradas &nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Qtd Saídas de Produtos &nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Valor Total de Saídas &nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Estoque Total de Produtos &nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Valor Total do Estoque &nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= Movement.where(action: 'Entrada').sum(:amount) %></td>
        <td><%= valor_formatado(Movement.where(action: 'Entrada').sum(:value)) %></td>
          <!--%= valor_formatado(Movement.sum(:value)) %-->
        <td><%= Movement.where(action: 'Saida').sum(:amount) %></td>
        <td><%= valor_formatado(Movement.where(action: 'Saida').sum(:value)) %></td>
        <td><%= Movement.where(action: 'Entrada').sum(:amount) - Movement.where(action: 'Saida').sum(:amount) %></td>
        <td><%= valor_formatado(Movement.where(action: 'Saida').sum(:value)) %></td>
      </tr>
    </tbody>
  </table>
