<%= form_with(model: exit, local: true) do |form| %>
  <% if exit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exit.errors.count, "error") %> prohibited this exit from being saved:</h2>

      <ul>
      <% exit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stock_id, "Produto" %>
    <%= form.collection_select :stock_id, @stock_select, :id, :product_id, prompt: "Selecione", id: :exit_stock_id %>
  </div>

  <div class="field">
    <%= form.label :amount, "Quantidade" %>
    <%= form.number_field :amount, id: :exit_amount %>
  </div>

  <div class="field">
    <%= form.label :date, "Data" %>
    <%= form.date_select :date, :order => [:day, :month, :year], id: :exit_date %>
  </div>

  <div class="field">
    <%= form.label :comment, "Comentário" %>
    <%= form.text_area :comment, id: :exit_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
