<p id="notice"><%= notice %></p>

<p>
  <strong>Estoque:</strong>
  <%= @exit.stock %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @exit.amount %>
</p>

<p>
  <strong>Data:</strong>
  <%= @exit.date %>
</p>

<p>
  <strong>Comentário:</strong>
  <%= @exit.comment %>
</p>
<%= link_to 'Imprimir', exit_path(format: :pdf), class: "btn btn-danger btn-sm" %>
<%= link_to 'Editar', edit_exit_path(@exit), class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', exits_path, class: "btn btn-primary btn-sm" %>
