<%= form_with(model: reserve, local: true) do |form| %>
  <% if reserve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>

      <ul>
      <% reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id, "Funcionário" %>
    <%= form.collection_select :employee_id, Employee.all, :id, :name, prompt: "Selecione" %>
  </div>

  <div class="field">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, id: :reserf_description %>
  </div>

  <div class="field">
    <%= form.label :laboratory_id, "Laboratório" %>
    <%= form.collection_select :laboratory_id, Laboratory.all, :id, :name, prompt: "Selecione" %>
  </div>

  <div class="field">
    <%= form.label :shift, "Turno" %>
    <%= select("reserve", "shift", ['Manhã', 'Tarde', 'Noite'], {prompt: "Selecione"}) %>
  </div>

  <div class="field">
    <%= form.label :start_time, "Hora Inicial" %>
    <%= form.datetime_select :start_time, id: :reserf_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time, "Hora Final" %>
    <%= form.datetime_select :end_time, id: :reserf_end_time %>
  </div>

  <div id='quantities'>
    <%= form.fields_for :quantities do |quantities_fields | %>
    <%= render partial: "quantity_fields", locals: { f: quantities_fields } %>
    <% end %>
  </div>

  <div class="field">
      <%= link_to_add_association('Solicitar Produtos', form, :quantities, :class => 'btn btn-primary btn-sm') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
