<p id="notice"><%= notice %></p>
<font size="4"><strong>.:: Relatório de Reserva dos Laboratórios ::.</strong></font><br>
<font size="2">&nbsp;&nbsp; Usuário: <%= current_user.email %></font>
<font size="2">&nbsp;&nbsp; Data: <%= Time.now.strftime("%d/%m/%Y - %H:%M:%S") %></font>
<table>
<font size="2">
<p>
  <strong>Solicitante:</strong>
  <%= @reserve.employee.office.name %>
  <%= @reserve.employee.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @reserve.description %>
</p>

<p>
  <strong>Laboratório:</strong>
  <%= formatar_laboratory(@reserve.laboratory.name) %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @reserve.description %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @reserve.shift %>
</p>

<p>
  <strong>Hs Inicial:</strong>
  <%= @reserve.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Hs Final:</strong>
  <%= @reserve.end_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Produtos:</strong><br>
<% @reserve.quantities.each do |qtd| %>
<%= "Qtd: #{qtd.amount} ::" + " Nome: #{qtd.product.name}" %>
<% end %>
</p>
<br>
<p>
  <strong>Resposável:</strong>
  <strong>____________________________________________________</strong>
</p>
<br>
<p>
  <strong>Solicitande:</strong>
  <strong>____________________________________________________</strong>
</p>
</font>
</table>
<br>