<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code, 'Código' %>
    <%= form.text_field :code, id: :employee_code %>
  </div>

  <div class="field">
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :office_id, 'Cargo' %>
    <%= form.collection_select :office_id, @office, :id, :name, prompt: "Selecione", id: :employee_office_id%>
    <%= link_to t('.new', :default => t("Novo Cargo")),
            new_office_path, :class => 'btn btn-success btn-sm' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>   