<p id="notice"><%= notice %></p>

<h1>Laboratórios</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Capacidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.code %></td>
        <td><%= laboratory.name %></td>
        <td><%= laboratory.description %></td>
        <td><%= laboratory.capacity %></td>
        <td><%= link_to t('.new', :default => t("Mostrar")),
            laboratory, :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to t('.edit', :default => t("Editar")),
            edit_laboratory_path(laboratory), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to t('.delete', :default => t("Apagar")),
          laboratory, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(@laboratories).new? %>
<%= link_to t('.new', :default => t("helpers.links.novo")),
            new_laboratory_path, :class => 'btn btn-default btn-xs' %> <% end %> |
<%= link_to 'Voltar', laboratories_path, class: "btn btn-default btn-xs" %>