<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @laboratory.code %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @laboratory.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @laboratory.description %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @laboratory.capacity %>
</p>

<% if policy(@laboratory).edit? %>
<%= link_to 'Editar', edit_laboratory_path(@laboratory), class: "btn btn-default btn-xs" %> <% end %> |
<%= link_to 'Voltar', laboratory_laboratorios_path, class: "btn btn-default btn-xs" %>
