<p id="notice"><%= notice %></p>

<p>
  <strong>Laboratorio:</strong>
  <%= @input.laboratory.name %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @input.product.name %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @input.shelfLife %>
</p>

<p>
  <strong>Ciclo de vida:</strong>
  <%= @input.lifeCycle %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @input.amount %>
</p>

<p>
  <strong>Valor unit:</strong>
  <%= valor_formatado(@input.unitaryValue) %>
</p>

<p>
  <strong>Valor Total:</strong>
  <%= valor_formatado(@input.value) %>
</p>

<p>
  <strong>Data:</strong>
  <%= @input.date %>
</p>

<%= link_to 'Editar', edit_input_path(@input) %> |
<%= link_to 'Voltar', stocks_path %>
