<h1>Estoque</h1>

<table>
  <thead>
    <tr>
      <th>Lab</th>
      <th>Ação</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Validade</th>
      <th>Ciclo</th>
      <th>Valor Und</th>
      <th>Valor Total</th>
      <th>Data</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.laboratory_id %></td>
        <td><%= stock.movement.action %></td>
        <td><%= stock.movement.product.name %></td>
        <td><%= stock.movement.amount %></td>
        <td><%= stock.movement.shelfLife %></td>
        <td><%= stock.movement.lifeCycle %></td>
        <td><%= valor_formatado(stock.movement.unitaryValue) %></td>
        <td><%= valor_formatado(stock.movement.value) %></td>
        <td><%= stock.movement.data %></td>
      </tr>
    <% end %>
  </tbody>
</table>
