<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
<%= f.label :laboratory_id_eq, "Laboratório" %>
<%= f.search_field :laboratory_id_eq %>
<%= f.submit %>
<% end %>
<h1>Estoque</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :laboratory_id, "Lab") %>&nbsp;&nbsp;</th>
      <th>Ação &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Produto</th>
      <th>Quantidade &nbsp;&nbsp;</th>
      <th>Validade</th>
      <th>Ciclos &nbsp;&nbsp;</th>
      <th>Valor Und</th>
      <th>Valor Total</th>
      <th>Data</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.laboratory_id %></td>
        <td><%= stock.movement.action %></td>
        <td><%= stock.movement.product.name %></td>
        <td><%= stock.movement.amount %></td>
        <td><%= stock.movement.shelfLife.strftime("%d/%m/%Y") %></td>
        <td><%= stock.movement.lifeCycle %></td>
        <td><%= valor_formatado(stock.movement.unitaryValue) %></td>
        <td><%= valor_formatado(stock.movement.value) %></td>
        <td><%= stock.movement.data.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Mostrar', stock, class: "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Editar', edit_stock_path(stock), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Apagar', stock, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Imprimir', stocks_path(format: :pdf), class: "btn btn-danger btn-sm" %>

<%= link_to t('.new', :default => t("Nova Movimentação")),
            new_stock_path, :class => 'btn btn-primary btn-sm' %>
<%= link_to t('.new', :default => t("Voltar")),
            home_index_path, :class => 'btn btn-primary btn-sm' %>
