<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @stock.amount %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @stock.laboratory.name %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @stock.product.name %>
</p>

<%= link_to 'Editar', edit_stock_path(@stock), class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', stocks_path, class: "btn btn-primary btn-sm" %>
