<p id="notice"><%= notice %></p>

<p>
  <strong>Ação:</strong>
  <%= @stock.movement.action %>
</p>

<p>
  <strong>Laboratório:</strong>
  <%= @stock.laboratory_name %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @stock.movement.solicitation_employee_name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @stock.movement.solicitation_description %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @stock.movement.product.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @stock.movement.amount %>
</p>

<p>
  <strong>Etiquetas:</strong>
  <% @stock.movement.patrimonies.each do |pat| %>
  <%= pat.tag %>
  <% end %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @stock.movement.shelfLife.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Ciclos:</strong>
  <%= @stock.movement.lifeCycle %>
</p>

<p>
  <strong>Valor Und:</strong>
  <%= valor_formatado(@stock.movement.unitaryValue) %>
</p>

<p>
  <strong>Valor Total:</strong>
  <%= valor_formatado(@stock.movement.value) %>
</p>

<p>
  <strong>Data:</strong>
  <%= @stock.movement.data.strftime("%d/%m/%Y") %>
</p>

<%= link_to 'Imprimir', stock_path(format: :pdf), class: "btn btn-danger btn-sm" %>
<% if policy(@stock).edit? %>
<%= link_to 'Editar', edit_stock_path(@stock), class: "btn btn-primary btn-sm" %> <% end %> |
<%= link_to 'Voltar', stocks_path, class: "btn btn-primary btn-sm" %>