<h1>Contato</h1>
<%= flash[:notice] %>
<%= form_tag send_path,method: :post do %>
<%= label_tag :name, "Nome:" %><br/>
<%= text_field_tag :name %> <br/>
<%= label_tag :email, "Email:" %> <br/>
<%= text_field_tag :email %> <br/>
<%= label_tag :subject, "Assunto:" %> <br/>
<%= text_field_tag :subject %> <br/>
<%= label_tag :content, "Descrição:" %><br/>
<%= text_area_tag :content %> <br/>
<%= submit_tag "Enviar" %>
<% end %>