<p id="notice"><%= notice %></p>
<p>
  <strong>Etiqueta:</strong>
  <%= @patrimony.tag %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @patrimony.movement.product.name %>
</p>

<%= link_to 'Editar', edit_patrimony_path(@patrimony), :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Voltar', patrimonies_path, :class => 'btn btn-primary btn-sm' %>
