<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @patrimony.tag %>
</p>

<p>
  <strong>Movement:</strong>
  <%= @patrimony.movement %>
</p>

<%= link_to 'Edit', edit_patrimony_path(@patrimony) %> |
<%= link_to 'Back', patrimonies_path %>
