<p id="notice"><%= notice %></p>

<h1>Quantidades</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Qtd</th>
      <th>Reserva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quantities.each do |quantity| %>
      <tr>
        <td><%= quantity.product.name %></td>
        <td><%= quantity.amount %></td>
        <td><%= quantity.reserve_id %></td>
        <td><%= link_to 'Mostrar', quantity %></td>
        <td><%= link_to 'Editar', edit_quantity_path(quantity) %></td>
        <td><%= link_to 'Apagar', quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quantity', new_quantity_path %>
