<p id="notice"><%= notice %></p>

<h1>Solicitações</h1>

<table>
  <thead>
    <tr>
      <th>Solicitante:</th>
      <th>Código:</th>
      <th>Cargo:</th>
      <th>Descrição:</th>
      <th>Data:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitations.each do |solicitation| %>
      <tr>
        <td><%= solicitation.employee.name %></td>
        <td><%= solicitation.employee.code %></td>
        <td><%= solicitation.employee.office_name %></td>
        <td><%= solicitation.description %></td>
        <td><%= solicitation.movement.data.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Mostrar', solicitation, class: "btn btn-success btn-sm"  %></td>
        <td><%= link_to 'Editar', edit_solicitation_path(solicitation), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Apagar', solicitation, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Solicitação', new_solicitation_path, class: "btn btn-primary btn-sm" %>
