<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code, "Código" %>
    <%= form.number_field :code, id: :product_code %>
  </div>

  <div class="field">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Categoria" %>
    <%= form.collection_select :category_id, @category_select, :id, :name, prompt: "Selecione", id: :product_category_id %>
  </div>

  <div class="field">
    <%= form.label :description, "Descrição" %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :provider, "Fornecedor" %>
    <%= form.text_field :provider, id: :product_provider %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
