<p id="notice"><%= notice %></p>
<font size="4"><strong>.:: Relatório de Produtos ::.</strong></font><br>
<font size="2">&nbsp;&nbsp; Usuário: <%= current_user.email %></font>
<font size="2">&nbsp;&nbsp; Data: <%= Time.now.strftime("%d/%m/%Y - %H:%M:%S") %></font>
<table>
<font size="2">
  <thead>
    <tr>
      <th>Cód:</th>
      <th>Nome:</th>
      <th>Categ:</th>
      <th>Descrição:</th>
      <th>Fornecedor:</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= format_category(product.category.name) %></td>
        <td><%= product.description %></td>
        <td><%= product.provider %></td>
      </tr>
    <% end %>
  </tbody>
  </font>
</table>
<br>
