<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home/index">Genis</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Laborat칩rios", laboratories_path  %></li>
            <li><%= link_to "Estoque", stocks_path  %></li>
            <li><%= link_to "Etiquetas", patrimonies_path  %></li>
            <li><%= link_to "Funcion치rios", employees_path  %></li>
            <li><%= link_to "Relat칩rios", reports_index_path  %></li>
            <li><%= link_to "Usu치rios", control_members_index_path  %></li>
            <li><%= link_to "Contato", send_path  %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>