<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home/index">Genis</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Laboratórios", laboratories_path  %></li>
            <li><%= link_to "Estoque", stocks_path  %></li>
            <li><%= link_to "Contato", send_path  %></li>
            <li><div id="divBusca2" ><%= form_tag(products_path, method: :get) do %>
                <%= text_field_tag 'search', nil, placeholder: 'Pesquisar produto...' %>
                <%= submit_tag "Produtos" %><% end %></div></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>